# ignore everything
*

# never track backups/swap files even in allowed dirs
*.bak
*.swp
*.tmp
*~

# shell
!.zshrc
!.zprofile

# vim
!.vimrc

# .config — allow only our dirs
!.config/
.config/*
!.config/alacritty/
.config/alacritty/glitchberry.toml
!.config/tmux/
!.config/theme/
.config/theme/tmux-theme.conf

# track this gitignore itself
!.gitignore
